/*  .cabeca1 .Categorias .opcoes .busca */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    /* Cores do site */
    --cor1:#074073;
    --cor2:#F2B705;
    --cor3:#F2A71B;
    --cor4:#F27405;
    --cor5:#F2F2F2;

    /* Fontes e tamanhos */
    --fontsite:'Montserrat',Arial,sans-serif;
    --font-size-padrao: 1rem;
    --font-size-pequeno: 1.2rem;
    --font-size-medio: 1.5rem;
    --font-size-grande: 2rem;
    --cor-branca: var(--cor5);
    --cor-preta: #000000;

}

*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    text-decoration: none;
    font-family: var(--fontsite);
    /* color:var(--cor5) ; */
}
html,body{
    width: 100vw;
    height: 100vh;
    background-color: var(--cor5);
    overflow-x: hidden;
    color: var(--cor5);

}
header a,
footer a{
    color: var(--cor5);
}

/* Estilização da Header */
.cabeca1{
    background-color: var(--cor1);
    padding: 10px 30px;
}

/* .div{
    margin: 0px 0px 0px 200px; 
} */
.menu{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.categorias{
    display: flex;
    gap: 50px;
    font-size: var(--font-size-pequeno);
    list-style: none;
}
.logo{
    width: 80px;
}
.material-symbols-outlined {
    font-size: 35px;
    color:var(--cor5);
    /* background-color: #F27405; */
    /* border-radius: 50%; */
}
/* Estilização do corpo e conteudo */
.container{
    max-width: 80%;
    margin: auto;
    /* border: 1px solid black; */
}
.conteudo{
    /* main/largura do site  */
    background-color:var(--cor5);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */
}
/* Conteudo pg */
.cardcontainer{
    /* display: flex; */
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: var(--cor-preta);
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    border-radius: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 20px;
    width: 98%;
}


.fundo-produto{
    width: 100%;
}
.produto-novo,
.localizacao-novo{
    display: flex;
}
.imagem-produto,
.imagem-local{
    width: 20%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.descricao-produto,
.descricao-local{
    width: 80%;
    margin:auto;
    /* display: flex; */
}
.descricao-local-endereco{
    flex-direction: column;
    /* text-align: center; */
}


.sub-descricaoproduto{
    margin: 50px 0px 0px;
}
.descricao-produto{
    justify-content: center;
    align-items: center;
    margin: 30px 0px 0px;
}


.titulo-descricao{
color: rgb(81, 79, 79);

}

.localizacao-novo{
    padding-top: 20px;

}
.fundoproduto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.descricao{
    color: #000000;
}

.precoproduto{
    font-size: 24px;
    font-weight:bolder;
    margin: 30px 0px 50px 0px;
    /* justify-content: space-between; */
    /* align-items: center;
    justify-content: center; */

}
.test{
    display: flex;
    justify-content: space-around;
    align-items: start;
}
.descricao h3{
    padding-bottom: 50px;
}



.localizacao{
    display: flex;
    justify-content: start;
    align-items: center;
    /* flex-direction: rom; */
    /* gap: 100px;       ele da espaço entre os itens sem precisar de margin ou padding, colocar apenas no pai */
}
.endereco{
    width: 30%;
}


/* Estilização Footer */
.main-footer{
    background-color: var(--cor1);
    display: flow-root;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-content{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
    /* border-top: 2px solid #f2f2f228; */
}
.logof{
    width: 80px;
}
.footer-section{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: start;
    
}
.footer-section h4 {
    width: 100%; 
    text-align: left; 
    margin: 0 0 8px 0; 
    color: var(--cor5);
    font-size: 1.1rem;
}
.footer-links{
    padding-top: 9px;
}
.footer-links:hover{
    text-decoration: underline;
}

/* botão */
.botao{
    /* text-decoration: none; */
    /* background-color: var(--cor3);
    color:#074073;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    margin-top: 20px; */
    /* border: 1px solid rgb(30, 4, 52); */
    /* border-radius: 5px;
    padding: 5px;
    margin: 10px ;
    cursor: pointer;
    display: flex;
    flex-direction:column;
    gap: 8px;
    justify-content: flex-end; */
    background-color: #1e3469;
    /* padding: 8px 2px; */
    color: #fff;
    /* justify-content: space-around; */
    font-size: 12px;
    padding: 20px;
    border-radius: 5px;
    flex-grow: 2;
    width: 80%;
}

.botao-esquerdo{
    margin: 0px 0px 0px 50px;
    background-color: #1e3469;
    /* padding: 80px 2px; */
    color: #fff;
    /* justify-content: space-around; */
    font-size: 12px;
    padding: 20px;
    border-radius: 5px;
    /* flex-grow: 5; */
    /* width: 80%; */
}

/* .botao,
.botao-esquerdo{
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); 
    z-index: 10; 
    transition: transform 0.5s ease;
    
    
} */
/* .botao,
.botao-esquerdo:hover{
    transform: scale(1.1); 
    width: 100%;
    /* height: 60%; 
    object-fit: cover;
    transition: transform 0.5s ease;
} */

.botao-direito,
.botao-esquerdo {
    background-color: var(--cor1); /* verde inicial */
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
  }
  
  .botao-esquerdo:hover {
    background-color: #2a6aa3; /* verde mais escuro no hover */
  }
  